{% extends "layout.html" %}
{% block content %}
<!--   <div class="v35_73"></div>
  <div class="v35_98"></div>
  <span class="v35_93"><img src="https://www.pngkey.com/png/full/207-2074783_global-world-travel-icon-png.png" style=max-width:200px;max-height:200px;></span> -->


  <div class="v35_65"></div>
  <div class="v35_66"></div>
  <div class="v35_94">
  <div class="v35_96">
    <img src="https://www.pngkey.com/png/full/207-2074783_global-world-travel-icon-png.png" style=max-width:200px;max-height:200px;>
  </div>
   <div class="logo">
    <img src="https://confide-portal.codio.io/travel-guide/images/Logo%20500x500%20px%20(6).png">
  </div>
  <div class="v35_95"></div>
  <span class="v35_96"></span>
  </div>
    <div class="content font" style="padding-left:40%; width:100%;" >
   <div style="padding-bottom: 20px">
    <h1 class="txt_heading border-bottom" style="padding-top: 30px">Who We Are</h1>
   </div>
    <p> TBD is a service where you can view all the travel information you need to travel the world without unpleasant surprises.</p>
    <p>By searching for any location in the world, be it an address, a tourist attraction, or simply a city, we provide you with updated and relevant information to plan your itinerary.</p>
    <p>TBD currently offers the following insights for any travel destination:</p>
    <ul>
      <li>Nearby webcams: now you can see if the location is really how it seems, or if it is largely inactive due to the pandemic.</li>
      <li>COVID-19 risk determination: check the risk level, COVID statistics, and travel advisories for your next getaway.</li>
      <li>Hotel offers nearby: Depending on your budget, party size, and dates, you can view the nearest best lodging options tailored for you.</li>
      <li>Airfare: Depending on when and where your departure is, you can view the best flight deals to get you from point A to point, well, <b>TBD!</b></li>
    </ul>
  </div>
    
{% endblock content %}