{% extends "layout.html" %}
{% block content %}
  <div class="content center">
   <p class="whitespace row">
   <div style="padding-bottom: 20px">
    <h1 class="txt-heading border-bottom">Who We Are</h1>
   </div>
    <p> TBD is a service where you can view all the travel information you need to travel the world without unpleasant surprises.</p>
    <p>By searching for any location in the world, be it an address, a tourist attraction, or simply a city, we provide you with updated and relevant information to plan your itinerary.</p>
    <p>TBD currently offers the following insights for any travel destination:</p>
    <ul>
      <li>Nearby webcams: now you can see if the location is really how it seems, or if it is largely inactive due to the pandemic.</li>
      <li>COVID-19 risk determination: check the risk level, COVID statistics, and travel advisories for your next getaway.</li>
      <li>Hotel offers nearby: Depending on your budget, party size, and dates, you can view the nearest best lodging options tailored for you.</li>
      <li>Airfare: Depending on when and where your departure is, you can view the best flight deals to get you from point A to point, well, <b>TBD!</b></li>
    </ul>
  </div>
    
{% endblock content %}