{% extends "layout.html" %}
{% block content %}

<p class="whitespace">
<input type="button" value="Go Back!" onclick="/results/{{ lat }}&{{ lng }}&{{ name }}" />
{% for cam in cams %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ title[loop.index - 1] }}</h5>
          <a href="{{ cam }}" class="btn btn-outline-dark">Webcam Link</a>
        </div>
      </div>
    </div>
{% endfor %}
<p class="whitespace">
{% endblock content %}