{% extends "layout.html" %}
{% block content %}

<p class="whitespace">
<button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
<div class="row">
{% for cam in cams %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="padding:20px;" class="card-img-top" src="{{ images[loop.index - 1] }}">
          <h5 class="card-title">{{ title[loop.index - 1] }}</h5>
          <a href="{{ cam }}" class="btn btn-outline-dark">Webcam Link</a>
        </div>
      </div>
    </div>
{% else %}
    <div class="content center">
    <h1 class="border-bottom" style="font-size: 50px; padding-top: 25px; padding-bottom: 10px">Sorry, no webcams were found.</h1>
    <div style = "padding: 20px">
    <p>Check spelling of your keywords.</p>
    <p>Narrow search by using specific cities or states.</p>
    </div>
    </div>
{% endfor %}
<p class="whitespace">
{% endblock content %}