{% extends "layout.html" %}
{% block content %}
<p class=" row">
<div class="whitespace">
<button class="btn btn-outline-dark" onclick="location.href='/search'">Try another location</button>
<button class="btn btn-outline-dark" onclick="goBack()">Go Back</button>
</div>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <div class="content center">
    <h1 class="border-bottom" style="font-size: 50px; padding-top: 25px; padding-bottom: 10px">Sorry, no results were found.</h1>
    <div style = "padding: 20px;">
    <p>Check spelling of your keywords.</p>
    <p>Narrow search by using specific cities or states.</p>
    </div>
    </div>
{% endblock content %}