{% extends "layout.html" %}
{% block content %}
<div class="whitespace">
<p class="row">
<div class="whitespace">
<button class="btn btn-outline-dark" onclick="goBack()">Edit your search</button>
<button class="btn btn-outline-dark" onclick="location.href='/results/{{ lat }}&{{ lng }}'">Go Back</button>
</div>


<p class="whitespace">
<div class="txt-heading border-bottom"><h1><b>Flight Options</b></h1></div>
<p class="whitespace">
<div>
  <ul>
    <li>Departing from: {{ depart }}: {{ address1 }} </li>
    <li>Arrival To: {{ arrival }}: {{ address2 }}</li>
    <li><a href= "{{ link }}">Book Flight Here </a></li>
  </ul>
  
</div>
{% endblock content %}
