{% extends "layout.html" %}
{% block content %}

<!-- {% for hotel in hotels %}
  <h1> {{ hotel }} </h1>
{% endfor %}

{% for hotel in a %}
  <h1> {{ hotel }} </h1>
{% endfor %}

{% for hotel in b %}
  <h1> {{ hotel }} </h1>
{% endfor %}

{% for hotel in c %}
  <h1> {{ hotel }} </h1>
{% endfor %}

{% for hotel in d %}
  <h1> {{ hotel }} </h1>
{% endfor %} -->

<div id="hotel-grid">
  <div class="txt-heading"><h1>Hotel Options</h1></div>

    {% for hotel in hotels %}
    
    <div class="hotel-hotel">
      <form method="post" action="/add">
        <div class="hotel-tile-footer">
          
          <div class="hotel-title"><h2>{{ hotel['Name'] }}</h2></div>
                      <div class="row">
                          <div class="column">
                              <div class="hotel-image"><img src="{{ hotel['Image'] }}" style=max-width:400px;max-height:400px;></div>
<!--                               <div class="hotel-name"><b></b></div> -->
                              {% if hotel['Tier'] != 0 %}
                                  <div class="hotel-stars"><b>{{ hotel['Tier'] }} stars</b></div>
                              {% endif %}
                              <div class="hotel-address"><b>Address:</b> {{ hotel['Address'] }}</div>
                              <div class="hotel-availabilty"><b>Availability:</b> {{ hotel['Availability'] }}</div>
                              <div class="hotel-rating"><b>Rating:</b> {{ hotel['Rating'] }}</div>
                              <div class="hotel-price"><b>Price Range ($USD/night):</b> {{ hotel['Price'] }}</div>
                              <div class="hotel-cancel"><b>Cancellation Policy:</b> {{ hotel['Cancellation Policy'] }}</div>
                              <div class="hotel-offer"><b>Offer:</b> {{ hotel['Offer Price'] }}</div>
                              {% if hotel['Offer Price'] != "No offers currently available" %}
                                  <div class="hotel-link"><b><a href="{{ hotel['Offer Link'] }}">Book This Deal</a></b></div>
                              {% endif %}
                      </div>
                  </div>
    </div>
  </form>
</div>
<hr>
{% else %}
    <div class="content center">
    <h1 class="border-bottom" style="font-size: 50px; padding-top: 25px; padding-bottom: 10px">>Sorry, no hotels were found.</h1>
    <div style = "padding: 20px">
    <p>Check spelling of your keywords.</p>
    <p>Broaden search by adjusting minimum and maxium price.</p>
    </div>
    </div>
{% endfor %}
{% endblock content %}