{% extends "layout.html" %}
{% block content %}
 <div class="content center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

    <div class="content center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
          
     <div class="form-group">
     {{ form.search.label(class="form-control-label") }}
     {% if form.search.errors %}
       {{ form.search(class="form-control form-control-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.search.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.search(class="form-control form-control-lg") }}
   {% endif %}
 </div>
{% endblock content %}