{% extends "layout.html" %}
{% block content %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="http://students.washington.edu/emanm2/headshot.jpg" style=max-width:200px;max-height:200px;>
    </div>
    <div class="flip-card-back">
      <h1>Eman Mustefa</h1>
      <p>Full stack</p>
      <p>University of Washington</p>
    </div>
  </div>
    <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://confide-portal.codio.io/travel-guide/images/eman.jpg" style=max-width:200px;max-height:200px;>
    </div>
    <div class="flip-card-back">
      <h1>Nerissa </h1>
      <p>Full stack</p>
      <p>University of Washington</p>
    </div>
  </div>
    <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="http://students.washington.edu/emanm2/headshot.jpg" style=max-width:200px;max-height:200px;>
    </div>
    <div class="flip-card-back">
      <h1>Eman Mustefa</h1>
      <p>Full stack</p>
      <p>University of Washington</p>
    </div>
  </div>
</div>
{% endblock content %}