{% extends "layout.html" %}
{% block content %}
    <p class="whitespace">
    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <h2>Covid Risk Level for {{ country }}: {{ risk }}</h2>
    <hr>
    <h3>Charts</h3>
    {% for scope, chart in charts.items() %}
           <h4>Covid statistics chart for {{ scope }} (1 year)</h4>
           <img src="{{ chart }}" style="max-width:800px;max-height:800px; padding:10px">
    {% endfor %}
    <hr>
    <h3>Table</h3>
    {% for table in tables %}
                {{ table|safe }}
    {% else %}
    <div class="content center">
    <h1 class="border-bottom" style="font-size: 50px; padding-top: 25px; padding-bottom: 10px">Sorry, no webcams were found.</h1>
    <div style = "padding: 20px">
    <p>Check spelling of your keywords.</p>
    <p>Narrow search by using specific cities or states.</p>
    </div>
    </div>
    {% endfor %}
<p class="whitespace">
{% endblock content %}