{% extends "layout.html" %}
{% block content %}
<p class="whitespace">
<button class="btn btn-outline-dark" onclick="goBack()">Go Back</button>
<div class="content center">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
<div class="txt-heading border-bottom"><h1><b>Flight Finder</b></h1></div>
<p class="whitespace">
<div class="row">
<div class="form-group">
{{ form.depart.label(class="form-control-label") }}
{% if form.depart.errors %}
 {{ form.depart(class="form-control form-control-lg is-invalid") }}
 <div class="invalid-feedback">
   {% for error in form.depart.errors%}
       <span>{{error}}</span>
   {% endfor %}
 </div>
{% else %}
 {{ form.depart(class="form-control form-control-lg") }}
{% endif %}
</div>
</div>

<div class="row">
 <div class="form-group formPadding">
 {{ form.adults.label(class="form-control-label") }}
 {% if form.adults.errors %}
   {{ form.adults(class="form-control form-control-lg is-invalid") }}
   <div class="invalid-feedback">
     {% for error in form.adults.errors%}
         <span>{{error}}</span>
     {% endfor %}
   </div>
{% else %}
   {{ form.adults(class="form-control form-control-lg") }}
{% endif %}
</div>
    
<div class="form-group formPadding">
{{ form.date.label(class="form-control-label") }}
{% if form.date.errors %}
 {{ form.date(class="form-control form-control-lg is-invalid") }}
 <div class="invalid-feedback">
   {% for error in form.date.errors%}
       <span>{{error}}</span>
   {% endfor %}
 </div>
{% else %}
 {{ form.date(class="form-control form-control-lg") }}
{% endif %}
</div>
</div>        
</fieldset>
      <div class="row">
    <div class="form-group">
       {{ form.submit(class="btn btn-outline-dark") }}
    </div>
      </div>
   </form>
</div>
{% endblock content %}

